.App{
  text-align: center;
}

.NavBar {
  background-color: tomato;
  display: flex;
  justify-content: space-evenly;
}

.Footer {
  background-color: tomato;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.LinkCategoria{
  display: flex;
  justify-content: space-evenly;
}